@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-screen-hero {
  min-height: calc(100vh - 144px);
}

.gradiation-container {
  aspect-ratio: 1 / 1;
  background: linear-gradient(300deg, #fff7c2, #ffced6, #CBCDFF);
  border-radius: 50%;
  filter: blur(70px);
  width: min(80%, 600px);
  height: min(100%, 500px);
  animation: gradient-animation 3s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
